body {
    padding-top: 5rem;
    background: url('background.png') no-repeat fixed right bottom;
    background-size: 30%;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.part {
    margin: 10px auto;

}

.bot {
    float: left;
    margin: 5px;
}

.bot-name {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
    text-shadow: 0 0 10px red;
    color: white;
}

.bot-portrait {
    width: 256px;
    height: 256px;
    background: url("../portraits/default.png");
}

.bot-response {
    width: 75.09138%;
    height: 256px;
    border: 1px solid #ddd;
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    padding: 10px;
    word-wrap: break-word;
    overflow-y: scroll;
    font-size: 2em;
}

.bot-answer {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: bolder;
}

@media only screen and (max-width: 1200px) {
    .bot-portrait {
        display: none;
    }

    .bot-response {
        width: 100%;
    }
}
