<!-- Main content -->
<div class="container">
    <div class="panel panel-danger chatbox">
        <div class="panel-heading">
            <h1 class="panel-title text-center bot-name">
                {% if botname is defined %}
                    {{ botname }}
                {% else %}
                    <span class="glyphicon glyphicon-star rotate-left"></span>&nbsp;&nbsp;&nbsp;M.I.R.I&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-star rotate-right"></span>
                {% endif %}
            </h1>
        </div>
        <div class="panel-body">
            <div class="part bot-part">
                <div class="bot">
                    <div class="bot-portrait img-thumbnail img-responsive" id="botport"></div>
                    <div class="text-center func-btn">
                        <div><button class="btn btn-danger" onclick="clearChat()">Xoá hội thoại</button></div>
                        <div><button class="btn btn-danger" onclick="randomEmotion()">Biểu cảm đi</button></div>
                        <div><button class="btn btn-default" id="toggle-tts" onclick="ttsToggle()">Nói đi coi</button></div>
                    </div>
                </div>
                <div class="bot bot-response" id="botres">
                    <!-- Bot responses goes here -->
                </div>
            </div>
            <span class="clearfix"></span>
            <div class="part user-part">
                <div class="user">
                    <textarea name="user_input" rows="2" class="user-text form-control" onkeydown="inputMessage(this, event)" placeholder="Viết gì đó vào đây..."></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="urls">
        <input type="hidden" name="answer_url" id="answer-url" value="{{ path('miribot_answer') }}"/>
        <input type="hidden" name="userdataexist_url" id="userdataexist-url" value="{{ path('miribot_userdataexist') }}"/>
    </div>

</div><!-- /.container -->