{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default center-block" style="width:25%;">
        <div class="panel-heading">
            Aiml Uploader
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_widget(form.file) }}
            {{ form_errors(form.file) }}
            <br/>
            <div>
                <input class="btn btn-primary" type="submit" value="Create"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
